:root {
    --bg: url("bgblue.png");
    --color1: #e0e8f0;
    --color2: #d4e4f4;
    --color3: #c9d8f8;
    --color4: #b0c4de;
    --color5: #6a86b8;
    --color6: #4b6186;
    --color7: #6a86b880;
    --color8: #354563;
}