:root {
    --bg: url("bgorange.png");
    --color1: #f0e6e0;
    --color2: #f4e6d4;
    --color3: #f8e8c9;
    --color4: #deceb0;
    --color5: #b8996a;
    --color6: #86764b;
    --color7: #b89f6a80;
    --color8: #635b35;
}